*.db
*.db.gz
*.zip
*.txt
.settings
bin/
gen/
target/
out/
ant.properties
local.properties
proguard.cfg
project.properties
tool/d-AFD_Metadata.xml
tool/d-TPP_Metafile.xml
tool/manifest.xml
tool/manifest1.xml

