*.db
*.db.gz
*.zip
*.txt
*.iml
*.log
.gradle
.settings
bin/
gen/
target/
out/
build/
.idea/
ant.properties
local.properties
project.properties
proguard.cfg
.directory
google-services.json
tool/tfr_list.xml
release/
.project
