<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nadmm.airports"
      android:versionCode="104"
      android:versionName="1.0.4" >

    <application android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:debuggable="false"
            android:theme="@android:style/Theme.Light">
        <activity android:label="@string/app_name" android:name="AirportsMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:label="@string/downloads" 
	              android:name="DownloadActivity" />

        <activity android:label="@string/settings"
                  android:name="PreferencesActivity" />

        <activity android:label="@string/browse"
                  android:name="BrowseActivity" />

        <activity android:label="@string/nearby"
                  android:name="NearbyActivity" />

        <activity android:label="@string/favorites"
                  android:name="FavoritesActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="AirportDetailsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="RunwayDetailsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="ServicesDetailsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="OwnershipDetailsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="RemarkDetailsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="AttendanceDetailsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="CommDetailsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="NavaidsActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="AboutActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name="DisclaimerActivity" />

    	<activity android:launchMode="singleTop" android:name="SearchActivity">
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable" />
    	</activity>

        <!-- declare the default searchable Activity for the whole app -->
	    <meta-data android:name="android.app.default_searchable"
    	        android:value=".SearchActivity" />

		<provider android:name=".AirportsProvider"
		          android:authorities="com.nadmm.airports.AirportsProvider"
		          android:syncable="false" />
	</application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-sdk android:minSdkVersion="7" />
</manifest>
