<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nadmm.airports"
      android:versionCode="4011"
      android:versionName="4.1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16" />

    <application android:icon="@drawable/icon"
            android:name=".Application"
            android:label="@string/app_name"
            android:theme="@style/Theme.Light.DarkActionBar">
        <activity android:label="@string/app_name" android:name=".FlightIntel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:label="@string/downloads" 
	              android:name=".DownloadActivity" />

        <activity android:label="@string/settings"
                  android:name=".PreferencesActivity" />

        <activity android:label="@string/browse_airports"
                  android:name=".afd.BrowseActivity" />

        <activity android:label="@string/nearby_facilities"
                  android:name=".afd.NearbyActivity" />

        <activity android:label="@string/nearby_airports"
                  android:name=".afd.NearbyAirportsActivity" />

        <activity android:label="@string/favorites"
                  android:name=".afd.FavoritesActivity" />

        <activity android:label="@string/airport_details"
                  android:name=".afd.AirportDetailsActivity" />

        <activity android:label="@string/runways"
                  android:name=".afd.RunwaysActivity" />

        <activity android:label="@string/other_services"
                  android:name=".afd.ServicesActivity" />

        <activity android:label="@string/airport_owner"
                  android:name=".afd.OwnershipActivity" />

        <activity android:label="@string/airport_remarks"
                  android:name=".afd.RemarksActivity" />

        <activity android:label="@string/airport_attendance"
                  android:name=".afd.AttendanceActivity" />

        <activity android:label="@string/atc_communications"
                  android:name=".afd.CommunicationsActivity" />

        <activity android:label="@string/nearby_navaids"
                  android:name=".afd.NearbyNavaidsActivity" />

        <activity android:label="@string/navaid_details"
                  android:name=".afd.NavaidDetailsActivity" />

        <activity android:label="@string/navaid_notams"
                  android:name=".notams.NavaidNotamActivity" />

        <activity android:label="@string/fss_outlets"
                  android:name=".afd.FssCommActivity" />

        <activity android:label="@string/ils_details"
                  android:name=".afd.IlsActivity" />

        <activity android:label="@string/sunrise_sunset"
                  android:name=".afd.AlmanacActivity" />

        <activity android:label="@string/airport_notams"
                  android:name=".notams.AirportNotamActivity" />

        <activity android:label="@string/aircraft_operations"
                  android:name=".afd.AircraftOpsActivity" />

        <activity android:label="@string/weather"
                  android:name=".wx.WxDetailActivity" />

        <activity android:label="@string/metar_maps"
                  android:name=".wx.MetarMapActivity"
                  android:theme="@style/Theme.Light.Dialog" />

        <activity android:label="@string/taf_maps"
                  android:name=".wx.TafMapActivity"
                  android:theme="@style/Theme.Light.Dialog" />

        <activity android:label="@string/pirep_images"
                  android:name=".wx.PirepMapActivity"
                  android:theme="@style/Theme.Light.Dialog" />

        <activity android:label="@string/airsigmet_images"
                  android:name=".wx.AirSigmetMapActivity"
                  android:theme="@style/Theme.Light.Dialog" />

        <activity android:label="@string/nearby_wx"
                  android:name=".wx.NearbyWxActivity" />

        <activity android:label="@string/instrument_procedures"
                  android:name=".aeronav.DtppActivity" />

        <activity android:label="@string/charts_download"
                  android:name=".aeronav.ChartsDownloadActivity" />

        <activity android:label="@string/app_name"
                  android:name=".utils.ExternalStorageActivity" />

        <activity android:label="@string/about"
                  android:name=".AboutActivity" />

        <activity android:label="@string/donate"
                  android:name=".donate.DonateActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name=".DisclaimerActivity" />

        <activity android:label=""
                  android:name=".ImageViewActivity" />

    	<activity android:label="@string/search"
                  android:launchMode="singleTop"
                  android:name=".afd.SearchActivity">
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable" />
    	</activity>

        <!-- declare the default searchable Activity for the whole app -->
	    <meta-data android:name="android.app.default_searchable"
    	        android:value=".afd.SearchActivity" />

		<provider android:name=".providers.AirportsProvider"
                  android:exported="false"
		          android:authorities="com.nadmm.airports.providers.AirportsProvider"
		          android:syncable="false" />

		<service android:name=".wx.MetarService" />
        <service android:name=".wx.TafService" />
        <service android:name=".wx.PirepService" />
        <service android:name=".wx.AirSigmetService" />
        <service android:name=".wx.ProgChartService" />
        <service android:name=".wx.RadarService" />
        <service android:name=".wx.WindService" />
        <service android:name=".wx.SigWxService" />
        <service android:name=".wx.CvaService" />
        <service android:name=".wx.IcingService" />
        <service android:name=".aeronav.DtppService" />
        <service android:name=".aeronav.DafdService" />
        <service android:name=".notams.NotamService" />
        <service android:name=".billing.BillingService" />

        <receiver android:name=".billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
