<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nadmm.airports"
      android:versionCode="324"
      android:versionName="3.2.4" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />

    <application android:icon="@drawable/icon"
            android:name="Application"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        <activity android:label="@string/app_name" android:name=".FlightIntel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	    <activity android:label="@string/downloads" 
	              android:name="DownloadActivity" />

        <activity android:label="@string/settings"
                  android:name=".PreferencesActivity" />

        <activity android:label="@string/browse_airports"
                  android:name=".afd.BrowseActivity" />

        <activity android:label="@string/nearby_airports"
                  android:name=".afd.NearbyActivity" />

        <activity android:label="@string/favorites"
                  android:name=".afd.FavoritesActivity" />

        <activity android:label="@string/airport_details"
                  android:name=".afd.AirportDetailsActivity" />

        <activity android:label="@string/runways"
                  android:name=".afd.RunwayDetailsActivity" />

        <activity android:label="@string/other_services"
                  android:name=".afd.ServicesDetailsActivity" />

        <activity android:label="@string/airport_owner"
                  android:name=".afd.OwnershipActivity" />

        <activity android:label="@string/airport_remarks"
                  android:name=".afd.RemarkDetailsActivity" />

        <activity android:label="@string/airport_attendance"
                  android:name=".afd.AttendanceActivity" />

        <activity android:label="@string/atc_communications"
                  android:name=".afd.CommunicationsActivity" />

        <activity android:label="@string/nearby_navaids"
                  android:name=".afd.afd.NearbyNavaidsActivity" />

        <activity android:label="@string/navaid_details"
                  android:name=".afd.NavaidDetailsActivity" />

        <activity android:label="@string/navaid_notams"
                  android:name=".notams.NavaidNotamActivity" />

        <activity android:label="@string/fss_outlets"
                  android:name=".afd.FssCommActivity" />

        <activity android:label="@string/ils_details"
                  android:name=".afd.IlsActivity" />

        <activity android:label="@string/sunrise_sunset"
                  android:name=".afd.AlmanacActivity" />

        <activity android:label="@string/airport_notams"
                  android:name=".notams.AirportNotamActivity" />

        <activity android:label="@string/aircraft_operations"
                  android:name=".afd.AircraftOpsActivity" />

        <activity android:label="@string/weather"
                  android:name=".wx.WxDetailActivity" />

        <activity android:label="@string/instrument_procedures"
                  android:name=".aeronav.DtppActivity" />

        <activity android:label="@string/app_name"
                  android:name=".utils.ExternalStorageActivity" />

        <activity android:label="@string/about"
                  android:name=".AboutActivity" />

        <activity android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:name=".DisclaimerActivity" />

    	<activity android:launchMode="singleTop" android:name=".afd.SearchActivity">
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable" />
    	</activity>

        <!-- declare the default searchable Activity for the whole app -->
	    <meta-data android:name="android.app.default_searchable"
    	        android:value=".afd.SearchActivity" />

		<provider android:name=".providers.AirportsProvider"
		          android:authorities="com.nadmm.airports.providers.AirportsProvider"
		          android:syncable="false" />

		<service android:name=".wx.MetarService" />
        <service android:name=".wx.TafService" />
        <service android:name=".wx.PirepService" />
        <service android:name=".aeronav.DtppService" />
        <service android:name=".aeronav.DafdService" />
        <service android:name=".notams.NotamService" />
    </application>
</manifest>
