[Unit]
Description=Service to load NOTAM messages into a SQLite db
Requires=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/nhasan_nadmm_com/sw/scds/start
Restart=on-failure
RestartSec=5
User=%i

[Install]
WantedBy=multi-user.target
